<!DOCTYPE html>
<html lang="EN">
<head>
    <title> Vibey </title>
    <meta charset="UTF-8">
    <link href="/static/stylings/styling.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/about"> About </a></li>
        <li>
            <a href="https://discord.com/api/oauth2/authorize?client_id=962662905801764895&permissions=1102132406487&scope=bot%20applications.commands">
                Invite </a></li>
        <li><a href="https://github.com/V3dantSh4rma/Vibey-discord-bot"> Source Code </a></li>
        <li><a href="/commands"> Commands </a></li>
    </ul>
</div>

<div class="content">
    <h1 class="heading"> Vibey </h1>
    <h3 class="sub-heading"> Imagine a Discord Bot that you always wanted.</h3>
    <button type="submit"><a href="#"> Invite </a></button>
</div>
</body>
</html>
